/* line 6, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* line 14, ../sass/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 17, ../sass/_reset.scss */
body {
  line-height: 1;
}

/* line 20, ../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 23, ../sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 27, ../sass/_reset.scss */
blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 33, ../sass/_reset.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 38, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 23, ../sass/main.scss */
body {
  background: -webkit-linear-gradient(#303030, #000000);
  background-attachment: fixed;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  font-size: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
  height: 100%;
}
/* line 37, ../sass/main.scss */
body .button {
  background-color: #90b562;
  border-radius: 4px;
  cursor: pointer;
  margin: 15px;
  padding: 15px;
  text-align: center;
  color: #000000;
  font-family: "Amatic SC", cursive;
  font-size: 60px;
  line-height: 80px;
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
}
/* line 50, ../sass/main.scss */
body .button:active {
  background-color: #cbff8a;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
}
/* line 54, ../sass/main.scss */
body .button.disabled {
  background-color: #212121;
}
/* line 58, ../sass/main.scss */
body .button-alt {
  background-color: #ffe050;
  border-radius: 4px;
  cursor: pointer;
  margin: 15px;
  padding: 15px;
  text-align: center;
  color: #000000;
  font-family: "Amatic SC", cursive;
  font-size: 60px;
  line-height: 80px;
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
}
/* line 71, ../sass/main.scss */
body .button-alt:active {
  background-color: #fff3b9;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
}
/* line 75, ../sass/main.scss */
body .button-alt.disabled {
  background-color: #212121;
}
/* line 79, ../sass/main.scss */
body .card {
  background-color: #6a4e5e;
  border-radius: 4px;
  padding: 15px;
  margin: 15px;
}
/* line 85, ../sass/main.scss */
body .card .objective {
  margin: 5px auto;
  width: 50%;
}
/* line 89, ../sass/main.scss */
body .card .objective img {
  width: 100%;
}
/* line 94, ../sass/main.scss */
body .card .objective-count {
  display: block;
  margin: 10px auto;
}
/* line 99, ../sass/main.scss */
body .card .objective-name {
  margin-left: 15px;
  margin-right: 30px;
  position: relative;
  top: -16px;
}
/* line 106, ../sass/main.scss */
body .card .objective-title {
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  line-height: 40px;
  font-style: bold;
}
/* line 113, ../sass/main.scss */
body .card:hover {
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
}
/* line 116, ../sass/main.scss */
body .card.active {
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
}
/* line 120, ../sass/main.scss */
body .subcard {
  background-color: #332b30;
  border-radius: 4px;
  padding: 15px;
  margin: 15px;
  line-height: 30px;
}
/* line 127, ../sass/main.scss */
body .subcard .positive {
  color: #90b562;
  font-weight: bold;
}
/* line 131, ../sass/main.scss */
body .subcard .negative {
  color: #914747;
  font-weight: bold;
}
/* line 135, ../sass/main.scss */
body .subcard .charm {
  color: #ffe050;
  font-weight: bold;
}
/* line 140, ../sass/main.scss */
body .subcard:hover {
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
}
/* line 143, ../sass/main.scss */
body .subcard.active {
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
}
/* line 147, ../sass/main.scss */
body .hide {
  display: none;
}
/* line 151, ../sass/main.scss */
body .player.dead {
  color: #90b562;
}
/* line 155, ../sass/main.scss */
body .title {
  font-family: "Amatic SC", cursive;
  font-weight: 200;
  font-size: 80px;
}
/* line 161, ../sass/main.scss */
body .drink {
  margin: 0 auto;
  text-align: center;
}

/* line 167, ../sass/main.scss */
header {
  background-color: #212121;
  color: white;
  height: 50px;
  line-height: 50px;
  padding: 0 10%;
  text-align: left;
}
/* line 175, ../sass/main.scss */
header nav {
  float: right;
  width: 25%;
}
/* line 179, ../sass/main.scss */
header nav .icon {
  background-color: #6a4e5e;
  border-radius: 16px;
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  float: right;
  height: 32px;
  margin-left: 16px;
  margin-top: 8px;
}
/* line 189, ../sass/main.scss */
header nav .icon:active {
  border: solid white 2px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
}
/* line 193, ../sass/main.scss */
header nav .icon.active {
  border: solid white 2px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
}

/* line 200, ../sass/main.scss */
input {
  background-color: white;
  border: none;
  color: black;
  height: 30px;
  margin: 15px auto;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  line-height: 30px;
}

/* line 211, ../sass/main.scss */
input:focus {
  border-bottom: solid white 1px;
  outline: 0;
}

/* line 215, ../sass/main.scss */
::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: white;
}

/* line 218, ../sass/main.scss */
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: white;
  opacity: 1;
}

/* line 222, ../sass/main.scss */
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: white;
  opacity: 1;
}

/* line 226, ../sass/main.scss */
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}

/* line 230, ../sass/main.scss */
section.main-content {
  width: 80%;
  margin: 0 10%;
  text-align: center;
}
/* line 235, ../sass/main.scss */
section.main-content .icon {
  height: 32px;
  margin-bottom: -8px;
  width: 32px;
}

/* line 243, ../sass/main.scss */
section.hosting .room-name {
  color: #ffe050;
  display: block;
  font-size: 60px;
  line-height: 80px;
}

/* line 252, ../sass/main.scss */
section.player-config .player-data {
  text-align: left;
  font-size: 24px;
  margin: 15px;
  padding: 15px;
}
/* line 258, ../sass/main.scss */
section.player-config .player-data .lower {
  text-transform: lowercase;
}

/* line 265, ../sass/main.scss */
section.player-score .player-score-delta-a {
  color: #90b562;
}
/* line 268, ../sass/main.scss */
section.player-score .player-score-delta-b {
  color: #90b562;
}

/* line 273, ../sass/main.scss */
section.player-round {
  max-height: 100vh;
}
/* line 276, ../sass/main.scss */
section.player-round .player-objectives {
  height: 80vh;
}
/* line 279, ../sass/main.scss */
section.player-round .player-objectives .objective {
  height: 45%;
}
/* line 282, ../sass/main.scss */
section.player-round .player-objectives .objective img {
  height: 40%;
}

/* line 290, ../sass/main.scss */
section.victim-score .victim-score-status {
  color: #914747;
}
