@import "reset";
@import "lib";

$background-top-color: #303030;
$background-bottom-color: #000000;
$button-main-color: #90b562;
$button-active-color: #cbff8a;
$button-disabled-color: #212121;
$button-alt-main-color: #ffe050;
$button-alt-active-color: #fff3b9;
$button-alt-disabled-color: #212121;
$button-label-color: #000000;
$material-color: #6a4e5e;
$submaterial-color: #332b30;
$header-color: #212121;
$text-color: white;
$positive-color: #90b562;
$negative-color: #914747;
$charm-color: #ffe050;
$main-font-family: 'Open Sans', sans-serif;
$accent-font-family: 'Amatic SC', cursive;

body {
  background: -webkit-linear-gradient($background-top-color, $background-bottom-color);
  background-attachment: fixed;
  color: $text-color;
  font-family: $main-font-family;
  font-weight: 100;
  font-size: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
  height: 100%;

  .button {
    background-color: $button-main-color;
    border-radius: 4px;
    cursor: pointer;
    margin: 15px;
    padding: 15px;
    text-align: center;
    color: $button-label-color;
    font-family: $accent-font-family;
    font-size: 60px;
    line-height: 80px;
    @include card(1);
  }
  .button:active {
    background-color: $button-active-color;
    @include card(2);
  }
  .button.disabled {
    background-color: $button-disabled-color;
  }

  .button-alt {
    background-color: $button-alt-main-color;
    border-radius: 4px;
    cursor: pointer;
    margin: 15px;
    padding: 15px;
    text-align: center;
    color: $button-label-color;
    font-family: $accent-font-family;
    font-size: 60px;
    line-height: 80px;
    @include card(1);
  }
  .button-alt:active {
    background-color: $button-alt-active-color;
    @include card(2);
  }
  .button-alt.disabled {
    background-color: $button-alt-disabled-color;
  }

  .card {
    background-color: $material-color;
    border-radius: 4px;
    padding: 15px;
    margin: 15px;
  }
  .card:hover {
    @include card(1);
  }
  .card.active {
    @include card(2);
  }

  .subcard {
    background-color: $submaterial-color;
    border-radius: 4px;
    padding: 15px;
    margin: 15px;
    line-height: 30px;
  }
  .subcard:hover {
    @include card(1);
  }
  .subcard.active {
    @include card(2);
  }

  .hide {
    display: none;
  }

  .player.dead {
    color: $button-main-color;
  }

  .title {
    font-family: $accent-font-family;
    font-weight: 200;
    font-size: 80px;
  }
}

header {
  background-color: $header-color;
  color: $text-color;
  height: 50px;
  line-height: 50px;
  padding: 0 10%;
  text-align: left;

  nav {
    float: right;
    width: 25%;

    .icon {
      background-color: $material-color;
      border-radius: 16px;
      @include card(1);
      cursor: pointer;
      float: right;
      height: 32px;
      margin-left: 16px;
      margin-top: 8px;
    }
    .icon:active {
      border: solid white 2px;
      @include card(2);
    }
    .icon.active {
      border: solid white 2px;
      @include card(3);
    }
  }
}

input {
  background-color: white;
  border: none;
  color: black;
  height: 30px;
  margin: 15px auto;
  width: 100%;
  font-family: $main-font-family;
  font-size: 20px;
  line-height: 30px;
}
input:focus {
  border-bottom: solid white 1px;
  outline: 0;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    $text-color;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    $text-color;
  opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    $text-color;
  opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:    $text-color;
}

section.main-content {
  width: 80%;
  margin: 0 10%;
  text-align: center;

  .icon {
    height: 32px;
    margin-bottom: -8px;
    width: 32px;
  }
}

section.hosting {
  .room-name {
    color: $charm-color;
    display: block;
    font-size: 60px;
    line-height: 80px;
  }
}

section.player-config {
  .player-data {
    text-align: left;
    font-size: 24px;
    margin: 15px;
    padding: 15px;

    .lower {
      text-transform: lowercase;
    }
  }
}

section.player-score {
  .player-score-delta-a {
    color: $positive-color;
  }
  .player-score-delta-b {
    color: $positive-color;
  }
}

section.victim-score {
  .victim-score-status {
    color: $negative-color;
  }
}
